
.container {
    position: relative;
    width: 100%;
    min-width: 250px;
    max-width: 450px; 
    height: 600px;
    background-color: #1d1f21; /* Adjust background color as per design */
    border-radius: 10px; /* Adjust border radius as per design */
    padding: 10px; /* Adjust padding as per design */
    display: flex;
    flex-direction: column;
    margin: 16px;
    border: 5px solid #4b4e50;
  }
  
  .container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(220, 220, 220);
    font-weight: bold; 
    font-size: 35px;  
    padding: 5px;
  }

  .form-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; /* Ensure the form appears on top */
  }

  
  