/* ExpenseEntry.css */
.expense-entry {
  position: relative; /* Ensure the parent container is positioned */
  width: 350px;
  height: 100px;
  background-color: #FFFFFF;
  margin: 8px 0;
  padding: 10px;
  padding-top: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.expense-row1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.expense-date {
  font-size: 20px; /* Adjust the font size */
  align-self: baseline;
}

.expense-category{
  font-weight: bold;
  font-size: 24px;
}
.expense-cost{
  font-size: 18px; 
}

.expense-fuel {
  font-size: 18px; 
}

.expense-actions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.delete-btn, .edit-btn {
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px; /* Adjust the amount of padding */
}


  