.userInfo {
    width: auto;
    height: auto;
    margin: 0 auto;
    background-color: #191919;
    overflow-x: hidden;
  }

/* .userInfo-picture{} */

.userInfo-carName{
    position: relative;
    font-size: 50px; /* Adjust the font size */
    font-weight: bold;
    left: 400px;
    color: #ffffff
}
.userInfo-carFuelConsumption{
    position: relative;
    font-size: 30px; /* Adjust the font size */
    font-weight: bold;
    top: -55px;
    left: 1190px;
    color: #ffffff
}

.userInfo-userOverview{
    position: relative;
    top: -65px
}

.userInfo-distance{
    position: relative;
    top: -695px; 
    left: 780px; 
}

.userInfo-expenses{
    position: relative;
    top: -60px;
    left: 380px;
}

.userInfo-carDetails {
    padding-bottom: 10px; /* Adjust the value as needed */
  }

/* .userInfo-insights{} */